

<div class="py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= link_to image_tag("logomark.svg", class: "mx-auto h-14 w-auto", alt: "MyFoodRepo"), root_path %>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800">
      <%= t "devise.invitations.edit.header" %>
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      <%= t "devise.invitations.edit.subheader" %>
    </p>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :patch}, builder: AppFormBuilder, data: {turbo: false}) do |f| %>
        <div class="space-y-6">
          <%= f.hidden_field :invitation_token, readonly: true %>
          <%= f.input :email, input_html: {disabled: true} %>
          <%= f.input :name, input_html: {autofocus: true, required: true} %>
          <% if f.object.class.require_password_on_accepting %>
            <%= f.input :password, input_html: {required: true} %>
            <%= f.input :password_confirmation, input_html: {required: true} %>
          <% end %>
          <div><%= render(ButtonComponent.new(type: :submit)) { t("devise.invitations.edit.submit_button") } %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
