<div class="py-6">
  <%= render(Collab::TitleComponent.new(max_width: "5xl")) do |t| %>
    <%= t(".title") %>
    <% t.with_action { link_to(t("helpers.cancel"), collab_cohort_path(@cohort), class: "btn btn-secondary") } %>
  <% end %>
  <div class="max-w-5xl px-4 sm:px-6 md:px-8">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post}, builder: AppFormBuilder) do |f| %>
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="bg-white py-6 px-4 sm:p-6">
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="grid grid-cols-4 gap-6">
              <%= f.input :email, input_html: {autofocus: true, required: true} %>
              <%= f.fields_for :collaborations, resource.collaborations.select { |c| c.new_record? } do |fa| %>
                <%= fa.hidden_field :cohort_id %>
                <%= fa.input :role, collection: Collaboration.roles.keys, text_method: ->(role) { t(role, scope: "roles") } %>
              <% end %>
            </div>
          </div>
          <%= f.submit_input(t(".submit")) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
