<div class="py-6">
  <%= render(Collab::TitleComponent.new) do |t| %>
    <%= @product.name %>
  <% end %>
  <div class="px-4 sm:px-6 md:px-8">
    <%= render(Collab::DetailsComponent.new) do |t| %>
      <% t.with_title { t(".details") } %>
      <% I18n.available_locales.each do |locale| %>
        <% t.with_detail(label: "#{t("activerecord.attributes.product.name")} #{t(locale, scope: ["locales"])}", value: @product.name(locale: locale)) %>
      <% end %>
      <% t.with_detail(label: t("activerecord.attributes.product.barcode"), value: @product.barcode) %>
      <% t.with_detail(label: t("activerecord.attributes.product.status"), value: @product.status) %>
      <% t.with_detail(label: t("activerecord.attributes.product.fetched_at"), value: l(@product.fetched_at)) if @product.fetched_at %>
      <% if @product.portion_quantity? %>
        <% t.with_detail(
             label: t("activerecord.attributes.product.portion_quantity"),
             value: number_with_precision(@product.portion_quantity, precision: 6, strip_insignificant_zeros: true)
           ) %>
      <% end %>
      <% t.with_detail(label: t("activerecord.models.unit", count: 1), value: @product.unit.id) %>
      <% t.with_detail(label: t("activerecord.attributes.product.source"), value: @product.source) if @product.source %>
    <% end %>
    <div class="mt-6">
      <%= render(Collab::Images::GalleryComponent.new) do |g| %>
        <%= g.with_image(image_url: @product.image_url) %>
        <% @product_images.each do |product_image| %>
          <%= g.with_image(image: product_image) %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-6">
      <%= render(Collab::TableComponent.new) do |tc| %>
        <% tc.with_title do |t| %>
          <%= t("activerecord.models.product_nutrient", count: 2) %>
        <% end %>
        <% tc.with_head_td { t("activerecord.models.nutrient", count: 1) } %>
        <% tc.with_head_td(align: :right) { "#{t("activerecord.attributes.product_nutrient.per_hundred")} #{@product.unit_id}" } %>
        <% @product_nutrients.each do |product_nutrient| %>
          <% tc.with_row(id: dom_id(product_nutrient)) do |r| %>
            <% r.with_row_td(additional_classes: "font-medium text-gray-800") { product_nutrient.nutrient.name } %>
            <% r.with_row_td(additional_classes: "font-medium text-gray-800 text-right") { "#{product_nutrient.per_hundred} #{product_nutrient.nutrient.unit_id}" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-6">
      <%= render("collab/annotations/annotations", annotations: @annotations, cohorts: @available_cohorts, states: @aasm_states, pagy: @pagy, title: t("activerecord.models.annotation", count: 2)) %>
    </div>
  </div>
</div>
