<div class="py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= link_to image_tag("logomark.svg", class: "mx-auto h-14 w-auto", alt: "MyFoodRepo"), root_path %>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div id="new_webauthn_credential" class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%=
        form_with(
          model: @credential,
          url: collab_webauthn_challenge_path,
          builder: AppFormBuilder,
          target: :_top,
          data: {
            target: :_top,
            controller: "webauthn--register",
            action: "webauthn--register#handleSubmit",
            "webauthn--register-callback-value": collab_webauthn_credentials_url,
            "webauthn--register-successpath-value": root_url
          }
        ) do |f|
      %>
        <div class="space-y-6">
          <p>
            <%= t("collab.webauthn.credentials.missing") %>
          </p>
          <%=
            f.input :nickname, label: {text: t("collab.webauthn.credentials.attributes.nickname")}, required: true, input_html: {
              autofocus: true,
              data: {"webauthn--register-target": "nickname"}
            }
          %>
          <%= turbo_frame_tag "webauthn_credential_error" %>
          <div>
            <%= render(ButtonComponent.new(type: :submit)) do |c| %>
              <% c.with_icon(:lock, classes: "text-lg opacity-60") %>
              <%= t(".add") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
